<!--  partial included here -->
<%- include('./partials/header'); %> 
<%- include ("partials/navbar") %>

<div class="container-lg my-4 text-dark">
	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
		<% places.forEach((place)=>{ %>
			<div class="col">
				<a href="/places/<%= place._id %>" class="text-decoration-none text-reset">
					<div class="card h-100">
						<img src="<%=place.imagen%>" class="card-img-top card-img" alt="picture of place">
						<div class="card-body">
							<h5 class="card-title border-bottom border-secondary"><%=place.lugar%></h5>
							<p class="card-text places-limitTextLines"><%=place.descripcion%></p>
						</div>
					</div>
				</a>
			</div>
		<% }) %>
	</div>	
</div>

<!--  partial included here -->
<%- include('./partials/footer'); %> 