<!--  partial included here -->
<%- include('./partials/header'); %> 
<%- include ("partials/navbar") %>

<div class="container-lg my-2">
	
	<!-- 	Show Image and Description of place	 -->
	<div class="row text-dark">
		<div class="col-md-8 text-center">
			<img src="<%=place.imagen%>" class="img-fluid max-vh-100" alt="picture of place">
		</div>
		<div class="col-md-4">
			<div class="card h-100">
				<div class="card-body ">
					<h5 class="card-title border-bottom border-dark pb-1"><%=place.lugar%></h5>
					<p class="card-text"><%=place.descripcion%></p>
				</div>	
			</div>
		</div>
	</div>
	
	<!-- Show edit/delete buttons only if user was the creator	 -->
	<% if(user && user.username===place.owner.username) {%>
		<div class="row justify-content-end">
			<div class="col-md-4 form-inline text-end m-1 ">
				<a href="/places/<%=place._id%>/edit" class="w-25 mx-1">
					<button class="btn btn-outline-primary btn-sm w-100">Edit</button>
				</a>	
				<form action="/places/<%=place._id%>?_method=DELETE" method="POST"  class="w-25">
					<button type="submit" class="btn btn-outline-danger btn-sm w-100">Delete</button>
				</form>	
			</div>
		</div>
	<% } %>

	<div class="row align-items-center m-3">
		
		<!-- 	"Add comment" button	 -->
		<div class="col-6 col-md-3">
			<a class="btn btn-success btn-sm" href="/places/<%= place._id %>/comments/new">
				Add Comment
			</a>	
		</div>
		
		<!-- 	Voting buttons(only if logged in) and score for place	 -->
		<div class="col text-nowrap">
			<% if (user && place.upvotes.indexOf(user.username)>=0) { %>
				<button id="upvote_btn" class="btn btn-success btn-sm">+</button>
			<% } else if (user) { %>
				<button id="upvote_btn" class="btn btn-outline-success btn-sm">+</button>
			<% }%>
			
			<span id="score" class="mx-2"><%= place.upvotes.length - place.downvotes.length %></span>
			<% if (user && place.downvotes.indexOf(user.username)>=0) { %>
				<button id="downvote_btn" class="btn btn-danger btn-sm">-</button>
			<% } else if (user) { %>
				<button id="downvote_btn" class="btn btn-outline-danger btn-sm">-</button>
			<% }%>
			
		</div>
	</div>
	
	<!-- Display all comments for this place (Edit/delete button only if user is creator of comment)-->
	<% comments.forEach((comment)=>{ %>
		<div class="row py-2 border" >
			<div class="col-2 my-auto border-end">
				<%= comment.user.username %>
			</div>
			<div class="col-2 my-auto d-flex flex-wrap justify-content-center border-end">
			<% if(user && user.username===comment.user.username) { %>
				<a class="btn btn-sm btn-success w-75 p-0 my-1" href="/places/<%=place._id%>/comments/<%=comment._id%>/edit">
					Edit
				</a>
				<form class="w-75 my-0" action="/places/<%= place._id %>/comments/<%= comment._id%>?_method=DELETE" method="POST">
					<button class="btn btn-sm btn-danger w-100 p-0">
						Delete
					</button>
				</form>
			<% } %>
			</div>
			<div class="col-8 my-auto">
				<%= comment.text %>
			</div>
		</div>
	<% }) %>
	
	<div class="p-5"></div>
</div>

<!-- passing ._id to frontend js for voting logic --> 
<script> var placeId ="<%- place._id %>"</script> 

<script src="/js/place_show.js"></script>

<!--  partial included here -->
<%- include('./partials/footer'); %> 

